<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ananya & Mayank's Wedding{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Ananya & Mayank's Wedding">
    <meta property="og:description" content="Join us in celebrating the wedding of Ananya and Mayank.">
    <meta property="og:image" content="https://www.mayaanya.com/static/images/logo.png">
    <meta property="og:url" content="https://www.mayaanya.com">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ananya & Mayank's Wedding">
    <meta name="twitter:description" content="Join us in celebrating the wedding of Ananya and Mayank.">
    <meta name="twitter:image" content="https://www.mayaanya.com/static/images/logo.png">

<body>

<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('our_story') }}">Our Story</a>
    <a href="{{ url_for('schedule') }}">Schedule</a>
    <a href="{{ url_for('faq') }}">FAQs</a>
    <a href="{{ url_for('travel') }}">Travel</a>
    <a href="{{ url_for('rsvp') }}">RSVP</a>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Ananya & Mayank's Wedding. All rights reserved.</p>
    </div>
</footer>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggleAccordion = (selector) => {
            const questions = document.querySelectorAll(selector);
            questions.forEach(question => {
                question.addEventListener('click', () => {
                    question.classList.toggle('active');
                    const answer = question.nextElementSibling;
                    if (question.classList.contains('active')) {
                        answer.style.maxHeight = answer.scrollHeight + "px";
                    } else {
                        answer.style.maxHeight = 0;
                    }
                });
            });
        };

        toggleAccordion('.faq-question');
        toggleAccordion('.travel-question');
    });
</script>