{% extends "base.html" %}
{% block title %}Ananya & Mayank | FAQs{% endblock %}

{% block content %}
<style>
    .faq-page-container {
        display: flex;
        flex-direction: column; /* Change to column on mobile */
        width: 100%;
        height: auto; /* Allow the container to adjust height based on content */
        overflow-y: auto; /* Enable vertical scrolling for the entire container */
        align-items: stretch; /* Make sure child items stretch to the same height */
        background: url('../static/images/backgrounds/background.png') no-repeat center center fixed;
        background-size: cover;

    }
    @media (min-width: 768px) {
        .faq-page-container {
            flex-direction: row; /* Change to row on larger screens */
            height: 100vh; /* Ensure the container takes up the full viewport height on larger screens */
        }
    }
    .image-container {
        flex: 1;
        position: relative;
        max-width: 100%;
        height: auto; /* Ensure the image container takes up the appropriate height on mobile */
        overflow: hidden;
        display: flex;
    }
    @media (min-width: 768px) {
        .image-container {
            max-width: 33%;
            height: 100%; /* Ensure the image container takes up the full height on larger screens */
        }
    }
    .image-container img {
        width: 100%;
        height: auto; /* Ensure the image maintains its aspect ratio */
        object-fit: cover; /* Ensure the image covers the container without distortion */
        margin-top: 0;
        padding-top: 0;
    }
    .faq-content {
        flex: 1;
        max-width: 100%;
        height: auto; /* Adjust height for mobile view */
        padding: 8px; /* Adjusted padding */
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Ensure content starts at the top */
        background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
        backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the text */
        color: #333; /* Text color */
        border-radius: 8px; /* Optional: adds rounded corners */
    }
    @media (min-width: 768px) {
        .faq-content {
            max-width: 67%;
            height: 100%; /* Ensure the content takes up the full height on larger screens */
            overflow-y: auto; /* Enable vertical scrolling for the content on larger screens */
        }
    }
    .faq-card {
        background-color: rgba(255, 255, 255, 0.2); /* White with 80% opacity */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    }
    .faq-content h2 {
        font-size: 2em;
        margin-bottom: 20px;
        width: 100%; /* Ensure the heading covers the full width */
        color: #d9534f; /* Updated color */
        font-family: 'Quicksand', serif; /* Updated font-family */
        text-align: left; /* Left align the heading */
        margin: 0; /* Remove default margin */
        padding: 20px 0; /* Add padding to the heading */
    }
    .faq-item {
        margin-bottom: 20px;
        width: 100%; /* Ensure each faq item covers the full width */
    }
    .faq-question {
        background-color: rgba(247, 247, 247, 0.8); /* Light background with transparency */
        border: 1px solid #ddd;
        cursor: pointer;
        padding: 10px;
        width: 100%; /* Ensure the question box covers the full width */
        text-align: left;
        font-size: 16px;
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }
    .faq-answer {
        display: none;
        padding: 10px;
        border: 1px solid #ddd;
        border-top: none;
        background-color: rgba(255, 245, 255, 0.66); /* Background color for answer section */
        width: 100%; /* Ensure the answer box covers the full width */
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }
    .faq-answer.active {
        display: block;
    }
    .faq-header h2 {
        color: #d9534f;
        font-family: 'Quicksand', serif;
        font-weight: 300;
    }
</style>

<div class="faq-page-container">
    <div class="image-container">
        <img src="static/images/faq/thinking.jpg" alt="FAQ Image">
    </div>
    <div class="faq-content">
        <div class="faq-card">
            <div class="faq-header">
                <h2>FREQUENTLY ASKED QUESTIONS</h2>
            </div>
        <div class="faq-item">
            <button class="faq-question">What is the date and location of the wedding?</button>
            <div class="faq-answer">
                <p>The wedding will take place on November 21-22 in <a href="https://samode.com/samode-bagh/">
                    Samode Bagh, Jaipur. </a></p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">What time should I arrive?</button>
            <div class="faq-answer">
                <p>Wedding celebrations kick off on November 21 from 12 pm onwards.
                    Please plan your arrival by around 11am.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Do the events have any dress code?</button>
            <div class="faq-answer">
                <p>Wear anything you’d like, no pressure at all.
                    We have given suggestions for attire if you want but wear anything you’d be comfortable in! </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Will transportation be provided between airport / train station and venue?</button>
            <div class="faq-answer">
                <p>Yes, if you’re arriving on November 21 at the airport / train station.
                    We can coordinate for a pick-up. Please share this information on the <a href="{{ url_for('rsvp') }}">RSVP page</a>.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">How do I RSVP?</button>
            <div class="faq-answer">
                <p>Tada - <a href="{{ url_for('rsvp') }}">here</a> you go. </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">What will the weather be like?</button>
            <div class="faq-answer">
                <p>29° / 13° (84° - 55° F) in winters. Nights will get cold so definitely carry some warm layers as most events are outdoors. </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">What should I do if I have any dietary restrictions?</button>
            <div class="faq-answer">
                <p>Most events will have traditional Indian food.
                    Please let us know your dietary restrictions on the <a href="{{ url_for('rsvp') }}">RSVP page</a> and we will try our best to accommodate. </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Can I bring a plus one?</button>
            <div class="faq-answer">
                <p>If your invite says “and family / guest” then yes, otherwise we’d love it if it was just you :) </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Who do I contact if I have additional questions?</button>
            <div class="faq-answer">
                <p>Reach out to us! We’ll be more than happy to help.</p>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    // JavaScript for the FAQ toggle
    const questions = document.getElementsByClassName('faq-question');
    for (let i = 0; i < questions.length; i++) {
        questions[i].addEventListener('click', function() {
            const answer = this.nextElementSibling;
            answer.classList.toggle('active');
        });
    }
</script>
{% endblock %}
