{% extends "base.html" %}
{% block title %}Ananya & Mayank{% endblock %}
{% block content %}
<style>
    body, html {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        height: 100%; /* Ensure full height for centering */
        margin: 0;
        padding: 0; /* Ensure no padding */
    }

    .background-wrapper {
        background: url('../static/images/backgrounds/background-3.png') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Align items at the top */
        align-items: center;
        min-height: 100vh; /* Ensures the background covers the full viewport height */
        overflow: hidden; /* Prevents scrolling */
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; /* Adds space between the logo and text */
        padding-top: 50px; /* Adjust this value to add spacing from the top */
    }

    .logo-container img {
        max-width: 100%;
        height: auto;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 1;
    }

    .text-container h3, .text-container h5 {
        margin: 0;
        color: #d9534f;
        font-family: 'Cinzel', serif;
    }

    .text-container h3 {
        font-size: 18px;
    }

    .text-container h5 {
        font-size: 16px;
    }

    /* Media query for mobile view */
    @media (max-width: 767px) {
        .logo-container img {
            width: 150%; /* Adjust the percentage as needed */
        }
    }

    @media (min-width: 768px) {
        .logo-container img {
            width: 60%; /* Adjust the percentage as needed */
        }
    }
</style>
<div class="background-wrapper">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/home/logo.png') }}" alt="Ananya & Mayank">
    </div>
    <div class="text-container">
        <h3>November 21st - 22nd, 2024</h3>
        <h5>{{ days_to_go }} DAYS TO GO!</h5>
    </div>
</div>
{% endblock %}