{% extends "base.html" %}
{% block title %}Ananya & Mayank | Our Story{% endblock %}

{% block content %}
<style>
    .story-page-container {
        display: flex;
        flex-direction: column; /* Change to column on mobile */
        width: 100%;
        height: auto; /* Allow the container to adjust height based on content */
        overflow-y: auto; /* Enable vertical scrolling for the entire container */
        align-items: stretch; /* Make sure child items stretch to the same height */
        background: url('../static/images/backgrounds/background.png') no-repeat center center fixed;
        background-size: cover;
    }
    @media (min-width: 768px) {
        .story-page-container {
            flex-direction: row; /* Change to row on larger screens */
            height: 100vh; /* Ensure the container takes up the full viewport height on larger screens */
        }
    }
    .slideshow-container {
        flex: 1;
        position: relative;
        width: 100%;
        min-height: 50vh; /* Ensure the image container takes up the appropriate height on mobile */
        max-height: 500px;
        display: flex;
        align-items: flex-start; /* Align items to the center */
        justify-content: center; /* Center the image */
        padding-top: 10px;
    }

    @media (min-width: 768px) {
        .slideshow-container {
            max-width: 33%;
            height: 100%; /* Ensure the image container takes up the full height on larger screens */
        }
    }


    /* Media query for iPhone SE (375x667) */
    @media screen and (min-width: 360px) and (max-width: 375px) and (max-height: 667px) {
        .slideshow-container {
            min-height: 70vh; /* Set the desired minimum height for iPhone SE */
        }
    }

    /* Media query for iPhone XR (414x896) */
    @media screen and (min-width: 376px) and (max-width: 414px) and (max-height: 896px) {
        .slideshow-container {
            min-height: 52vh; /* Set the desired minimum height for iPhone XR */
        }
    }

    /* Media query for iPhone 12 Pro (390x844) */
    @media screen and (min-width: 390px) and (max-width: 390px) and (max-height: 844px) {
        .slideshow-container {
            min-height: 55vh; /* Set the desired minimum height for iPhone 12 Pro */
        }
    }

    /* Media query for iPhone 14 Pro Max (430x932) */
    @media screen and (min-width: 430px) and (max-width: 430px) and (max-height: 932px) {
        .slideshow-container {
            min-height: 50vh; /* Set the desired minimum height for iPhone 14 Pro Max */
        }
    }

    /* Media query for Samsung Galaxy S8+ (360x740) */
    @media screen and (min-width: 360px) and (max-width: 360px) and (max-height: 740px) {
        .slideshow-container {
            min-height: 63vh; /* Set the desired minimum height for Samsung Galaxy S8+ */
        }
    }

    .polaroid {
        background: rgba(255, 245, 225, 0.2); /* Yellowish tint with 80% opacity */
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 90%; /* Adjust the width of the polaroid */
        transition: opacity 2s ease-in-out; /* Slower fade transition */
        opacity: 0; /* Start slides as invisible */
        position: absolute;
    }
    .polaroid img {
        width: 100%;
        height: 400px; /* Fixed height for consistency */
        object-fit: contain;
        object-position: center; /* Center the image */
        border-bottom: 1px solid #ddd;
    }
    .polaroid .caption {
        margin-top: 10px;
        font-family: 'Cinzel', serif;
        font-size: 14px;
        color: #333;
    }
    .active-slide {
        opacity: 1; /* Fade in active slide */
    }
    .story-content {
        flex: 1;
        max-width: 100%;
        height: auto; /* Adjust height for mobile view */
        padding: 8px; /* Adjusted padding */
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Ensure content starts at the top */
        background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
        backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the text */
        color: #333; /* Text color */
        border-radius: 8px; /* Optional: adds rounded corners */
    }
    @media (min-width: 768px) {
        .story-content {
            max-width: 67%;
            height: 100%; /* Ensure the content takes up the full height on larger screens */
            overflow-y: auto; /* Enable vertical scrolling for the content on larger screens */
        }
    }
    .story-card {
        background-color: rgba(255, 255, 255, 0.2); /* White with 80% opacity */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    }
    .story-content h2 {
        font-size: 2em;
        margin-bottom: 20px;
        width: 100%; /* Ensure the heading covers the full width */
        color: #d9534f; /* Updated color */
        font-family: 'Cinzel', serif; /* Updated font-family */
        text-transform: uppercase; /* Example text transformation */
        text-align: left; /* Left align the heading */
        margin: 0; /* Remove default margin */
        padding: 20px 0; /* Add padding to the heading */
    }
    .story-item {
        margin-bottom: 20px;
        width: 100%; /* Ensure each story item covers the full width */
    }
</style>

<div class="story-page-container">
    <div class="slideshow-container">
        {% for i in range(1, captions|length + 1) %}
        <div class="polaroid {% if i == 1 %}active-slide{% endif %}">
            <img src="../static/images/our-story/timeline-{{ i }}.jpg" alt="Polaroid Image {{ i }}">
            <div class="caption">{{ captions[i-1] }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="story-content">
        <div class="story-card">
            <h2 class="page-heading">Our Story</h2>
            <div class="story-item">
                <p>The year was 2011. Ananya and Mayank had been friends for a while and finally on a cold winter day, they both said “yes” to a lifetime of adventure (which they had no idea about).</p>
                <p>From school to college, from living within 5 minutes of each other to moving cities, from surviving the pandemic together to building their own home, they have grown up together while making every moment count!</p>
                <p>They’re each other’s best friends before anything and that’s what makes their story so special. All their friends always take their names together “Mayank Ananya” as though they always come in a combo package!</p>
                <p>Ananya’s favorite thing about Mayank (and the list was long) is his smile and ever-positive attitude! If you want a pal for any adventure, no matter what it is, Mayank’s your guy!</p>
                <p>Mayank’s favorite thing about Ananya is XYZ.</p>
                <p><strong>Some of their favorites (in no specific order):</strong><br>Their family, hiking, travelling, navigating without google maps (and getting lost), cooking, trying out new food, dancing, crime-thrillers, spontaneous trips (planned in <1 hr).</p>
            </div>
        </div>
        <div class="story-card">
            <h2 class="page-heading">The Proposal</h2>
            <div class="story-item">
                <p>Nothing short of a dream! Masai Mara has been on Ananya’s bucket list since childhood. Those of you who know Ananya, you might know how much she loves sunsets and animals (borderline obsessed with elephants). Mayank planned this gorgeous proposal in the middle of the Mara with the help of their close friend, Mandira.</p>
                <p>They had already been out for a day long safari and towards the end of the day, it took a lot of convincing to get Ananya out of the bed for the evening safari (HT Mandira).  After spotting a pride of lions, the jeep pulled into a hilly spot in the middle of the Mara with a tent and bonfire set-up and live music in the background! It was a cloudy day but (as cliche as it sounds), the clouds cleared up and had the sun setting over the gorgeous Mara landscape. Right when they got out of the jeep, Mayank went down on one knee and popped the question! And she said “yes”! With tears of joy in their eyes, they hugged and celebrated this start of this new chapter, looking into the sunset of this dreamy land.</p>
                <p>And if you know Mayank, he will go an extra mile to make every moment count! Right after coming back, he had planned for a romantic dinner on a treehouse under the stars where he showed Ananya a short film that he had made with messages from their family! And the next few days, they went on another safari to celebrate this new chapter!</p>
                <p>That day holds such a special place in their hearts and it was absolutely magical.</p>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript for the slideshow
    let slideIndex = 0;
    const slides = document.getElementsByClassName('polaroid');
    const totalSlides = slides.length;

    function showSlides() {
        for (let i = 0; i < totalSlides; i++) {
            slides[i].classList.remove('active-slide');
        }
        slideIndex++;
        if (slideIndex > totalSlides) {
            slideIndex = 1;
        }
        slides[slideIndex - 1].classList.add('active-slide');
        setTimeout(showSlides, 2000); // Change image every 3 seconds
    }
    showSlides();
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            dots: true,
        });
    });
</script>
{% endblock %}