{% extends "base.html" %}
{% block title %}RSVP{% endblock %}
{% block content %}
<div class="rsvp-container">
    <h2>RSVP</h2>
    <form method="POST" class="rsvp-form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="attending">
                <input type="checkbox" id="attending" name="attending">
                I will be attending
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit RSVP">
        </div>
    </form>
</div>
{% endblock %}