{% extends "base.html" %}
{% block title %}Ananya & Mayank | Schedule{% endblock %}

{% block content %}
<style>
    .schedule-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: #333;
        position: relative;
        overflow: hidden;
    }

    .schedule-page-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../static/images/backgrounds/background-3.png');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    .schedule-header {
        width: 100%;
        max-width: 800px;
        text-align: center;
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 8px;
    }

    .schedule-header h2 {
        color: #d9534f;
        font-family: 'Quicksand', serif;
        font-weight: 300;
    }

    .schedule-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }

    .event-section {
        width: 100%;
        max-width: 800px;
        margin-bottom: 40px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .event-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .event-details {
        flex: 1;
    }

    .event-details h3 {
        margin: 0;
        font-size: 24px;
        color: #d9534f;
        font-family: 'Quicksand', serif;
        font-weight: 100;
    }

    .event-details p {
        margin: 5px 0;
        font-size: 16px;
        line-height: 1.6;
    }

    .event-info {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .event-info p {
        margin: 5px 0;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .event-section {
            margin-bottom: 20px;
        }

        .event-header {
            flex-direction: column;
            align-items: flex-start;
        }
    }
</style>

<div class="schedule-page-container">
    <div class="schedule-header">
        <h2>SCHEDULE</h2>
    </div>

    <div class="schedule-content">
        <div class="event-section">
            <div class="event-header">
                <div class="event-details">
                    <h3>Haldi & Mehendi</h3>
                    <p>Join us for our Haldi and Mehendi ceremonies, where turmeric blessings and intricate henna designs
                        kick off our wedding celebrations with love and joy!</p>
                </div>
            </div>
            <div class="event-info">
                <p>Time: 12 pm onwards</p>
                <p>Venue: Poolside, Samode Bagh</p>
                <p>Suggested Attire: Indian, Yellow hues in Lehariya / Bandhej prints</p>
            </div>
        </div>

        <div class="event-section">
            <div class="event-header">
                <div class="event-details">
                    <h3>Sangeet</h3>
                    <p>Come participate in the Sangeet ceremony, a lively pre-wedding event brimming with music, dancing,
                        and performances by our loved ones. We want everyone on the dance floor!</p>
                </div>
            </div>
            <div class="event-info">
                <p>Time: 7:30 pm onwards</p>
                <p>Venue: Charbagh, Samode Bagh</p>
                <p>Suggested Attire: Indo-Western, Embellished</p>
            </div>
        </div>

        <div class="event-section">
            <div class="event-header">
                <div class="event-details">
                    <h3>Wedding</h3>
                    <p>Experience the traditional Indian wedding ceremony where Ananya and Mayank tie the knot,
                        followed by sacred rituals and ceremonies. </p>
                </div>
            </div>
            <div class="event-info">
                <p>Time: 12 pm onwards </p>
                <p>Venue: Mughal Gardens, Samode Bagh</p>
                <p>Suggested Attire: Indian, Pastel hues</p>
            </div>
        </div>

        <div class="event-section">
            <div class="event-header">
                <div class="event-details">
                    <h3>After-Party</h3>
                    <p>Join us for a lively, no-frills dance party featuring live band, where we celebrate the
                        newly married couple with non-stop dancing and music!</p>
                </div>
            </div>
            <div class="event-info">
                <p>Time: 7:30 pm onwards</p>
                <p>Venue: Ballroom, Samode Bagh</p>
                <p>Suggested Attire: Prom / Party Wear</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="event-section">
            <div class="event-header">
                <div class="event-details">
                    <p>Which songs would you love to dance on? Contribute to our playlist:
                        <a href="https://open.spotify.com/playlist/2N1rmd9B0SxHM2U3osWkFN?si=b8e8f4400d51493a&pt=4c95b54d80c45d2fc8ae58c02bd4c9d9">
                            Spotify</a></p>
                    <br>
                    <p>Hit us up if you're unable to join the playlist. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}