{% extends "base.html" %}
{% block title %}Ananya & Mayank | Travel{% endblock %}

{% block content %}
<style>
    .travel-page-container {
        display: flex;
        flex-direction: column; /* Change to column on mobile */
        width: 100%;
        height: auto; /* Allow the container to adjust height based on content */
        overflow-y: auto; /* Enable vertical scrolling for the entire container */
        align-items: stretch; /* Make sure child items stretch to the same height */
    }
    @media (min-width: 768px) {
        .travel-page-container {
            flex-direction: row; /* Change to row on larger screens */
            height: 100vh; /* Ensure the container takes up the full viewport height on larger screens */
        }
    }
    .slideshow-container {
        flex: 1;
        position: relative;
        max-width: 100%;
        height: auto; /* Ensure the image container takes up the appropriate height on mobile */
        overflow: hidden;
        display: flex;
        align-items: center; /* Align items to the center */
        justify-content: center; /* Center the image */
    }
    @media (min-width: 768px) {
        .slideshow-container {
            max-width: 33%;
            height: 100%; /* Ensure the image container takes up the full height on larger screens */
        }
    }
    .slideshow-container img {
        width: 100%;
        height: 100%; /* Ensure the image covers the full height of the container */
        object-fit: cover; /* Ensure the image covers the container without distortion */
        transition: opacity 2s ease-in-out; /* Slower fade transition */
    }
    .slide {
        display: none;
        opacity: 0; /* Start slides as invisible */
    }
    .active-slide {
        display: block;
        opacity: 1; /* Fade in active slide */
    }
    .travel-content {
        flex: 1;
        max-width: 100%;
        height: auto; /* Adjust height for mobile view */
        padding: 20px; /* Adjusted padding */
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Ensure content starts at the top */
        background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
        backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the text */
        color: #333; /* Text color */
    }
    @media (min-width: 768px) {
        .travel-content {
            max-width: 67%;
            height: 100%; /* Ensure the content takes up the full height on larger screens */
            overflow-y: auto; /* Enable vertical scrolling for the content on larger screens */
        }
    }
    .travel-content h2 {
        font-size: 2em;
        margin-bottom: 20px;
        width: 100%; /* Ensure the heading covers the full width */
        color: #d9534f; /* Updated color */
        font-family: 'Cinzel', serif; /* Updated font-family */
        text-transform: uppercase; /* Example text transformation */
        text-align: left; /* Left align the heading */
        margin: 0; /* Remove default margin */
        padding: 20px 0; /* Add padding to the heading */
    }
    .travel-item {
        margin-bottom: 20px;
        width: 100%; /* Ensure each travel item covers the full width */
    }
    .travel-question {
        background-color: rgba(247, 247, 247, 0.8); /* Light background with transparency */
        border: 1px solid #ddd;
        cursor: pointer;
        padding: 10px;
        width: 100%; /* Ensure the question box covers the full width */
        text-align: left;
        font-size: 16px;
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }
    .travel-answer {
        display: none;
        padding: 10px;
        border: 1px solid #ddd;
        border-top: none;
        background-color: rgba(255, 255, 255, 0.8); /* Background color for answer section */
        width: 100%; /* Ensure the answer box covers the full width */
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }
    .travel-answer.active {
        display: block;
    }
</style>

<div class="travel-page-container">
    <div class="slideshow-container">
        <img class="slide active-slide" src="static/images/travel/travel-1.jpg" alt="Jaipur Image 1">
        <img class="slide" src="static/images/travel/travel-2.jpg" alt="Jaipur Image 2">
        <img class="slide" src="static/images/travel/travel-3.jpg" alt="Jaipur Image 3">
        <img class="slide" src="static/images/travel/travel-4.jpg" alt="Jaipur Image 4">
    </div>
    <div class="travel-content">
        <h2 class="page-heading">Travel Information</h2>
        <div class="travel-item">
            <button class="travel-question">Event Date and Venue</button>
            <div class="travel-answer">
                <p>
                    <strong>Dates:</strong><br>
                    Our wedding celebrations will take place from November 21-22. Please see <a href="{{ url_for('schedule') }}">schedule page</a> for event details.
                </p>
                <p>
                    <strong>Venue:</strong> Samode Bagh<br>
                    <a href="https://maps.app.goo.gl/cm8zA36F4qtrJtG8A">
                        Village Fatehpura Bansa, Chomu, Rajasthan 303806, India
                    </a>
                </p>
            </div>
        </div>
        <div class="travel-item">
            <button class="travel-question">Getting to Jaipur</button>
            <div class="travel-answer">
                <p>Jaipur is easily accessible - by air, by train, or by road. Or if you’re really adventurous, even by a camel.</p>
                <h4>By Air</h4>
                <p>Jaipur International Airport is located ~1 hr away from Samode Bagh and has access to all major flights to different cities.</p>
                <h4>By Train</h4>
                <p>Jaipur Railway Station offers direct trains to all major cities of the country. If wondering how to reach Jaipur from Delhi by train, trains such as Shatabdi, Rajdhani, and Duronto are good options.</p>
                <h4>By Road</h4>
                <p>Jaipur is connected to all major cities via roads. You can take a bus or hire a cab from nearby cities. If you’re coming from Delhi, it will take you ~5 hours (or more if traffic). The road is scenic and the views are gorgeous.</p>
            </div>
        </div>
        <div class="travel-item">
            <button class="travel-question">Accommodation</button>
            <div class="travel-answer">
                <p>We have reserved rooms at <a href="https://samode.com/samode-bagh/">Samode Bagh </a>for Nov 21-22.</p>
                <p>However, if you wish to explore Jaipur after that, we suggest living close to the city center. The city has many great hotels and accommodation options (for a range of rates). Some suggestions below:</p>
                <ul>
                    <li><a href="https://www.theleela.com/the-leela-palace-jaipur">Leela Palace</a></li>
                    <li><a href="https://www.tridenthotels.com/hotels-in-jaipur/?utm_source=GMBlisting&utm_medium=organic">Trident</a></li>
                    <li><a href="https://www.tajhotels.com/en-in/hotels/jai-mahal-palace-jaipur?utm_source=Google&utm_medium=Local&utm_campaign=Jai-Mahal-Palace-Jaipur">Jai Mahal Palace</a></li>
                    <li><a href="https://www.hyatt.com/hyatt-regency/en-US/jairj-hyatt-regency-jaipur-mansarovar">Hyatt Regency Jaipur Mansarovar</a></li>
                </ul>
                <p>Feel free to reach out to us and we can help you with recommendations.</p>
            </div>
        </div>
        <div class="travel-item">
            <button class="travel-question">Local Transportation</button>
            <div class="travel-answer">
                <p>For getting to Jaipur from Samode Bagh, we would recommend booking a cab from the hotel reception desk.</p>
                <p>For getting around in Jaipur, you can use auto-rickshaws or cabs (Uber and Ola).</p>
                <p>Some places (e.g., markets) are best accessed by auto-rickshaws. Feel free to ask us or your hotel staff for local recommendations.</p>
            </div>
        </div>
        <div class="travel-item">
            <button class="travel-question">Things To Do In Jaipur</button>
            <div class="travel-answer">
                <p>Jaipur has something for everyone! There is a lot to do and see. DM us & we can share more but here’s something to get you started:</p>
                <h4>What To See?</h4>
                <ul>
                    <li>Hawa Mahal</li>
                    <li>Amer Fort</li>
                    <li>City Palace</li>
                    <li>Jal Mahal</li>
                    <li>Nahargarh Fort</li>
                </ul>
                <h4>Where To Shop?</h4>
                <p>Jaipur is a shopper’s paradise, offering everything from a gorgeous variety of textiles to fine jewelry.</p>
                <ul>
                    <li>If you’re up for an adventure to shop in the local markets and can brave the crowds, head to Johari Bazaar, Bapu Bazaar, Nehru Bazaar.</li>
                    <li>Textiles: Apart from local shops (that we’d highly recommend trying first), you can head to stores like Anokhi, Cottons, Kilol, and Idli (hand-block textiles with a modern twist).</li>
                    <li>Jewelry: Johari Bazaar has many small stores that offer gorgeous jewelry made of gold, silver, and precious gemstones. Remember to always bargain. Or if you prefer, you can visit more established stores like Amrapali Jewels.</li>
                </ul>
                <p>This guide can be helpful for shopping: <a href="https://www.travelandleisureasia.com/in/destinations/india/guide-to-shopping-in-jaipur/">Guide to Shopping in Jaipur</a> or hit us up for recommendations!</p>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript for the slideshow
    let slideIndex = 0;
    const slides = document.getElementsByClassName('slide');
    const totalSlides = slides.length;

    function showSlides() {
        for (let i = 0; i < totalSlides; i++) {
            slides[i].classList.remove('active-slide');
        }
        slideIndex++;
        if (slideIndex > totalSlides) {
            slideIndex = 1;
        }
        slides[slideIndex - 1].classList.add('active-slide');
        setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
    showSlides();

    // JavaScript for the FAQ toggle
    const questions = document.getElementsByClassName('travel-question');
    for (let i = 0; i < questions.length; i++) {
        questions[i].addEventListener('click', function() {
            const answer = this.nextElementSibling;
            answer.classList.toggle('active');
        });
    }
</script>
{% endblock %}